<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theatres.css">
    <title>Theatres</title>
</head>
<body>
    <h1> Nearby Theatres</h1>
    <div class="desc">
        <script>
            const urlParams = new URLSearchParams(window.location.search);
            const movieName = urlParams.get('moviename');
            const price = urlParams.get('price');
            document.write('<h3 align="center">Movie : '+movieName+'</h3>');
            document.write('<h3 align="center">Price : '+price+'</h3>');
            const bookingUrl = 'booking1.html?price=' + encodeURIComponent(price);
            
        </script>
    </div>
    <div class="screens">
        <div class="names">
            <h3><u>Cinepolis: Season Mall, Pune</h3></u>
            <button onclick="window.location.href = bookingUrl">9:00</button>
            <button onclick="window.location.href = bookingUrl">12:00</button>
            <button onclick="window.location.href = bookingUrl">4:30</button>
            <button onclick="window.location.href = bookingUrl">7:00</button>
        </div>
        <div class="names">
            <h3><u>PVR: Kumar Pacific, Pune</u></h3>
            <button onclick="window.location.href = bookingUrl">9:00</button>
            <button onclick="window.location.href = bookingUrl">12:00</button>
            <button onclick="window.location.href = bookingUrl">4:30</button>
            <button onclick="window.location.href = bookingUrl">7:00</button>
        </div>
        <div class="names">
            <h3><u>PVR ICON: The Pavillion Pune</u></h3>
            <button onclick="window.location.href = bookingUrl">9:00</button>
            <button onclick="window.location.href = bookingUrl">12:00</button>
            <button onclick="window.location.href = bookingUrl">4:30</button>
            <button onclick="window.location.href = bookingUrl">7:00</button>
        </div>
        <div class="names">
            <h3><u>INOX: Amanora Town Centre, Hadapsar</u></h3>
            <button onclick="window.location.href = bookingUrl">9:00</button>
            <button onclick="window.location.href = bookingUrl">12:00</button>
            <button onclick="window.location.href = bookingUrl">4:30</button>
            <button onclick="window.location.href = bookingUrl">7:00</button>
        </div>
    </div>
</body>
</html>