<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/theatres.css">
    <title>Theatres</title>
</head>
<body>
    <h1> Nearby Theatres</h1>
    <div class="screens">
        <div class="names">
            <h3><u>Cinepolis: Season Mall, Pune</h3></u>
            <a href="booking.html"><button>9:00</button></a>
            <a href="booking.html"><button>12:00</button></a>
            <a href="booking.html"><button>2:30</button></a>
            <a href="booking.html"><button>4:00</button></a>
        </div>
        <div class="names">
            <h3><u>PVR: Kumar Pacific, Pune</u></h3>
            <a href="booking.html"><button>9:00</button></a>
            <a href="booking.html"><button>12:00</button></a>
            <a href="booking.html"><button>2:30</button></a>
            <a href="booking.html"><button>4:00</button></a>
        </div>
        <div class="names">
            <h3><u>PVR ICON: The Pavillion Pune</u></h3>
            <a href="booking.html"><button>9:00</button></a>
            <a href="booking.html"><button>12:00</button></a>
            <a href="booking.html"><button>2:30</button></a>
            <a href="booking.html"><button>4:00</button></a>
        </div>
        <div class="names">
            <h3><u>INOX: Amanora Town Centre, Hadapsar</u></h3>
            <a href="booking.html"><button>9:00</button></a>
            <a href="booking.html"><button>12:00</button></a>
            <a href="booking.html"><button>2:30</button></a>
            <a href="booking.html"><button>4:00</button></a>
        </div>
    </div>
</body>
</html>